receivers:
  netflow:
    scheme: netflow
    hostname: 0.0.0.0
    port: 2055

exporters:
  otlp_http:
    endpoint: http://0.0.0.0:4319
    tls:
      insecure: true
    compression: none

  debug:
    verbosity: detailed

service:
  pipelines:
    logs:
      receivers: [netflow]
      exporters: [otlp_http, debug]
