receivers:
  jaeger:
    protocols:
      thrift_http:
        endpoint: 0.0.0.0:14268

exporters:
  otlp_http:
    endpoint: http://0.0.0.0:4319
    tls:
      insecure: true
    compression: none

  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [jaeger]
      exporters: [debug, otlp_http]
