name: Build and Release

on:
  push:
    # run only against version tags
    tags:
      - 'v*'
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: stable
      - uses: anchore/sbom-action/download-syft@v0.14.2
      - name: Create Snapshot for Pull Request
        if: ${{ github.event_name == 'pull_request' }}
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot
      - name: Upload Pull Request Preview
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v3
        with:
          name: otelcol_dynatrace_${{ github.event.pull_request.number }}_${{ github.run_number }}
          path: dist/*

      - name: Create release for version tag
        if: ${{ github.event_name == 'push' }}
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
