name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  # renovate: datasource=github-releases depName=actions/go-versions
  GO_VERSION: "1.22.6"

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: false
      
      - name: Cache tools
        id: cache-tools
        uses: actions/cache@v4
        with:
          path: .tools
          key: ci-tools-${{ runner.os }}-${{ hashFiles('internal/tools/go.sum') }}

      - name: Install tools
        if: steps.cache-tools.outputs.cache-hit != 'true'
        run: |
          mkdir -p .tools
          touch .tools/*
          make install-tools

      - name: Generate source files
        run: make generate

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ci-mods-${{ runner.os }}-${{ hashFiles('build/go.sum') }}

      - name: Build
        run: make build

      - name: Print components
        run: make components

      - name: Verify
        run: make test

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@master
        if: github.ref == 'refs/heads/main'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --file=build/go.mod

  notify-slack:
    runs-on: ubuntu-24.04
    needs: [build]
    if: failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2.3.2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: "DT OTel Collector Distro - CI Failure"
          SLACK_COLOR: "failure"
          SLACK_USERNAME: "GitHub Actions Notifier"
          SLACK_ICON: "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/github.png"
