name: E2E-Test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

defaults:
  run:
    shell: bash
env:
  KUBECONFIG: /tmp/kube-config-collector-e2e-testing
  # renovate: datasource=golang-version depName=go
  GO_VERSION: "1.25.4"

jobs:
  docker-build:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/*.sum"

      - name: Install tools
        run: |
          mkdir -p .tools
          make install-tools

      - name: Generate source files
        run: make generate

      - name: Build collector artifact
        shell: bash
        run: |
          echo "Building collector artifact"
          make build

      - name: Upload binary artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dynatrace-otel-collector-bin
          path: bin/dynatrace-otel-collector

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push to local registry
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./bin
          file: Dockerfile
          push: false
          load: true
          tags: dynatrace-otel-collector:e2e-test

      - name: export image to tar
        run: |
          docker save dynatrace-otel-collector:e2e-test > /tmp/dynatrace-otel-collector.tar

      - name: Upload container image artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dynatrace-otel-collector-image
          path: /tmp/dynatrace-otel-collector.tar

  k8s-multinode-matrix:
    strategy:
      fail-fast: false
      matrix:
        usecase:
          - k8scombined
    runs-on: ubuntu-24.04
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup cluster
        uses: ./.github/actions/create-cluster
        with:
          config: "./.github/actions/create-cluster/multi-node.yaml"

      - name: Run e2e tests
        run: |
          cd internal/testbed/integration/${{ matrix.usecase }}
          go test -v --tags=e2e

  k8s-e2e-test-matrix:
    strategy:
      fail-fast: false
      matrix:
        usecase:
          - k8senrichment
          - prometheus
          - zipkin
          - statsd
          - redaction
          - resource-detection
          - netflow
          - self-monitoring
          - hostmetrics
          - k8sobjects
          - kubeletstats
          - k8scluster
          - loadbalancing
          - kafka
    runs-on: ubuntu-24.04
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup cluster
        uses: ./.github/actions/create-cluster

      - name: Run e2e tests
        run: |
          cd internal/testbed/integration/${{ matrix.usecase }}
          go test -v --tags=e2e

  combined-load-test:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: "Linux-x64-16-64GB-Runner" # Ubuntu 24.04
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup cluster
        uses: ./.github/actions/create-cluster

      - name: Run e2e tests
        run: |
          cd internal/testbed/integration/combinedload
          go test -v --tags=e2e

  helm-install-test:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup cluster
        uses: ./.github/actions/create-cluster

      - name: Run helm installation
        env:
          REPOSITORY: "dynatrace-otel-collector"
          TAG: "e2e-test"
        run: |
          ./internal/testbed/scripts/install_dt_collector_helm.sh || exit 1;

  eec-confmap-provider:
    runs-on: ubuntu-24.04
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache-dependency-path: "**/*.sum"

      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dynatrace-otel-collector-bin
          path: bin

      - run: chmod +x bin/*

      - name: Run e2e tests
        run: |
          cd internal/confmap/provider/eecprovider
          go test -v --tags=e2e

  notify-slack-combined-load-test:
    runs-on: ubuntu-24.04
    needs: [combined-load-test]
    if: failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: "DT OTel Collector Distro - Combined Load Test Failure"
          SLACK_COLOR: "failure"
          SLACK_USERNAME: "GitHub Actions Notifier"
          SLACK_ICON: "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/github.png"

  notify-slack-e2e-tests:
    runs-on: ubuntu-24.04
    needs: [k8s-e2e-test-matrix, eec-confmap-provider, k8s-multinode-matrix]
    if: failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: "DT OTel Collector Distro - E2E Test Failure"
          SLACK_COLOR: "failure"
          SLACK_USERNAME: "GitHub Actions Notifier"
          SLACK_ICON: "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/github.png"
