name: E2E-Test

on:
  pull_request:
    branches: [main]

defaults:
  run:
    shell: bash

jobs:

  docker-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "~1.21.3"
          check-latest: true
          cache-dependency-path: internal/tools/go.sum

      - name: Cache tools
        uses: actions/cache@v4
        with:
          path: .tools
          key: ci-tools-${{ runner.os }}-${{ hashFiles('internal/tools/go.sum') }}

      - name: Touch tools
        run: |
          mkdir -p .tools
          touch .tools/*

      - name: Build collector artifact
        shell: bash
        run: |
          echo "Building collector artifact"
          make build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push to local registry
        uses: docker/build-push-action@v5
        with:
          context: ./bin
          file: Dockerfile
          push: false
          load: true
          tags: dynatrace-otel-collector:e2e-test

      - name: export image to tar
        run: |
          docker save dynatrace-otel-collector:e2e-test > /tmp/dynatrace-otel-collector.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dynatrace-otel-collector
          path: /tmp/dynatrace-otel-collector.tar

  k8s-e2e-test-matrix:
    env:
      KUBECONFIG: /tmp/kube-config-collector-e2e-testing
    strategy:
      fail-fast: false
      matrix:
        usecase:
          - testbed/integration/k8senrichment
          - testbed/integration/prometheus
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "~1.21.3"
          check-latest: true
          cache-dependency-path: internal/tools/go.sum

      - name: Cache tools
        uses: actions/cache@v4
        with:
          path: .tools
          key: ci-tools-${{ runner.os }}-${{ hashFiles('internal/tools/go.sum') }}

      - name: Touch tools
        run: |
          mkdir -p .tools
          touch .tools/*

      - name: Create kind cluster
        uses: helm/kind-action@v1.10.0
        with:
          node_image: "kindest/node:v1.27.11"
          kubectl_version: "v1.27.11"
          cluster_name: kind

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dynatrace-otel-collector
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/dynatrace-otel-collector.tar

      - name: Kind load image
        run: |
          kind load docker-image dynatrace-otel-collector:e2e-test --name kind

      - name: Load Image into Kind
        shell: bash
        run: |
          kind load docker-image dynatrace-otel-collector:e2e-test --name kind

      - name: Run e2e tests
        run: |
          cd ${{ matrix.usecase }}
          go test -v --tags=e2e

  eec-confmapprovider:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "~1.21.3"
          check-latest: true
          cache-dependency-path: internal/tools/go.sum

      - name: Cache tools
        uses: actions/cache@v4
        with:
          path: .tools
          key: ci-tools-${{ runner.os }}-${{ hashFiles('internal/tools/go.sum') }}

      - name: Touch tools
        run: |
          mkdir -p .tools
          touch .tools/*

      - name: Run e2e tests
        run: |
          cd confmap/provider/eecprovider
          go test -v --tags=e2e