name: load-tests
on:
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

env:
  # renovate: datasource=golang-version depName=go
  GO_VERSION: "1.25.7"

jobs:
  setup-environment:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/*.sum"

      - name: Install tools
        run: |
          mkdir -p .tools
          make install-tools

      - name: Generate source files
        run: make generate

      - run: make oteltestbedcol

      - name: Upload Testbed Binaries
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: testbed-binaries
          path: ./bin/*

  loadtest:
    runs-on: "Linux-x64-16-64GB-Runner" # Ubuntu 24.04
    needs: [setup-environment]
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/*.sum"

      - name: Install tools
        run: |
          mkdir -p .tools
          touch .tools/*
          make install-tools

      - name: Create results folder
        run: mkdir -p results && touch results/TESTRESULTS.md

      - name: Download Testbed Binaries
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: testbed-binaries
          path: bin/

      - name: Make Testbed Binaries executable
        run: chmod +x bin/*

      - name: Loadtest
        run: make run-load-tests

      - name: Create Test Result Archive
        if: ${{ failure() || success() }}
        continue-on-error: true
        run: tar -cvf test_results_load-tests.tar internal/testbed/load/tests/results

      - name: Upload Test Results
        if: ${{ failure() || success() }}
        continue-on-error: true
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: test-result-archive-load-tests
          path: ./*.tar

      - name: Copy Benchmarks
        run: cp internal/testbed/load/tests/results/benchmarks.json internal/testbed/load/tests/results/load-tests.json

      - name: Upload benchmarks.json
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: benchmark-results-load-tests
          path: internal/testbed/load/tests/results/load-tests.json

  notify-slack:
    runs-on: ubuntu-24.04
    needs: [loadtest]
    if: failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: "DT OTel Collector Distro - Loadtest Failure"
          SLACK_COLOR: "failure"
          SLACK_USERNAME: "GitHub Actions Notifier"
          SLACK_ICON: "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/github.png"

  update-benchmarks:
    runs-on: ubuntu-24.04
    needs: [loadtest]
    if: github.event_name == 'push'
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download Benchmark results
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          pattern: benchmark-results-*
          merge-multiple: true
          path: results

      - name: Normalize results
        run: jq -s 'map(.[])' results/*.json > output.json

      - name: Benchmark
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          tool: "customSmallerIsBetter"
          output-file-path: output.json
          gh-pages-branch: benchmarks
          max-items-in-chart: 100
          github-token: ${{ secrets.GITHUB_TOKEN }}
          benchmark-data-dir-path: "docs/benchmarks/loadtests"
          auto-push: true
