name: Build PR Snapshots

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=golang-version depName=go
  GO_VERSION: "1.25.5"
  # renovate: datasource=github-releases depName=goreleaser/goreleaser-pro
  GORELEASER_PRO_VERSION: v2.13.3

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        goos: ["linux", "darwin"]
        goarch: ["amd64", "arm64", "ppc64le", "s390x"]
        exclude:
          - goos: darwin
            goarch: s390x
          - goos: darwin
            goarch: ppc64le
        include:
          - goos: windows
            goarch: amd64
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/*.sum"

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        if: matrix.goarch != 'amd64'
        with:
          platforms: ${{ matrix.goarch }}

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Install tools
        run: |
          mkdir -p .tools
          make install-tools

      - name: Free up disk space
        run: |
          df -h
          rm -r /opt/hostedtoolcache/CodeQL
          rm -r /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk
          rm -r /opt/hostedtoolcache/PyPy
          rm -r /opt/hostedtoolcache/Ruby
          rm -r /opt/hostedtoolcache/node
          sudo rm -r $ANDROID_HOME
          df -h

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser-pro
          version: ${{ env.GORELEASER_PRO_VERSION }}
          args: release --snapshot --clean --skip archive,sbom --fail-fast --split
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Show produced artifacts
        run: ls -laR ./dist

      - if: always()
        name: Show FS usage (debugging)
        run: |
          df -h

      - name: Upload Pull Request Preview
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: otelcol_dynatrace_${{ matrix.goos }}_${{ matrix.goarch }}_${{ github.event.pull_request.number }}_${{ github.run_number }}
          path: dist/*

      - name: Upload linux service packages
        if: matrix.goarch == 'arm64' && matrix.goos == 'linux'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: linux-packages-arm64
          path: |
            dist/**/metadata.json
            dist/**/dynatrace-otel-collector_*_Linux_arm64.deb
            dist/**/dynatrace-otel-collector_*_Linux_arm64.rpm

      - name: Upload linux service packages
        if: matrix.goarch == 'amd64' && matrix.goos == 'linux'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: linux-packages-amd64
          path: |
            dist/**/metadata.json
            dist/**/dynatrace-otel-collector_*_Linux_x86_64.deb
            dist/**/dynatrace-otel-collector_*_Linux_x86_64.rpm

  linux-package-tests:
    name: Test Linux Packages
    runs-on: ubuntu-24.04
    needs: build
    strategy:
      matrix:
        os: ["deb", "rpm"]
        arch: ["amd64", "arm64"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64,ppc64le,s390x

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Download linux service packages
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: linux-packages-${{ matrix.arch }}
          path: linux-packages

      - name: Parse metadata file
        id: parse-metadata
        run: |
          metadata=`cat ./linux-packages/linux_${{ matrix.arch }}/metadata.json`
          # make single-line json out of multi-line json
          metadata="${metadata//$'\n'/''}"
          metadata="${metadata//$'\r'/''}"
          echo "metadata=$metadata" >> "$GITHUB_OUTPUT"

      - name: Extract version number
        id: extract-version
        run: echo "version=${{ fromJson(steps.parse-metadata.outputs.metadata).version }}" >> "$GITHUB_OUTPUT"

      - name: Test amd64
        if: matrix.arch == 'amd64'
        run: make package-test ARCH=${{ matrix.arch }} PACKAGE_PATH=linux-packages/linux_${{ matrix.arch }}/dynatrace-otel-collector_${{ steps.extract-version.outputs.version }}_Linux_x86_64.${{ matrix.os }}

      - name: Test arm64
        if: matrix.arch == 'arm64'
        run: make package-test ARCH=${{ matrix.arch }} PACKAGE_PATH=linux-packages/linux_${{ matrix.arch }}/dynatrace-otel-collector_${{ steps.extract-version.outputs.version }}_Linux_${{ matrix.arch }}.${{ matrix.os }}
